<main>
  <h5 class="title">{{sura.name}}</h5>
  <div class="progressbar" style="--value:{{getPercentsFixed(sura.completedPages, sura.totalPages)}}; width: 5rem; height: 5rem; color: black;">
    <div class="percents">{{getPercentsFixed(sura.completedPages, sura.totalPages)}}%</div>
  </div>
  <h5 class="description">Proučene stranice: <strong>{{sura.completedPages}}/{{sura.totalPages}}</strong></h5>
<ion-list slot="content">
  <ion-item-sliding *ngFor="let pageObj of sura.pages; let i = index">
    <ion-item (click)="goToPage(pageObj.page)">
      <ion-label>
        <h2>{{i+1}}. stranica</h2>
      </ion-label>
      <ion-note slot="end">
        <ion-icon class="success" *ngIf="pageObj.completed" name="checkmark-done-outline"></ion-icon>
        <ion-icon class="danger" *ngIf="!pageObj.completed" name="close-circle-outline"></ion-icon>
      </ion-note>
    </ion-item>


    <ion-item-options side="end">
      <ion-item-option color="danger" *ngIf="pageObj.completed" (click)="addOrRemovePage(false, pageObj.page)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-item-option>
      <ion-item-option color="success" *ngIf="!pageObj.completed" (click)="addOrRemovePage(true, pageObj.page)">
        <ion-icon slot="icon-only" name="checkmark-done"></ion-icon>
      </ion-item-option>
    </ion-item-options>

  </ion-item-sliding>

</ion-list>
</main>
