ion-item-sliding {
    ion-icon {
      &.success {
        color: lime;
      }
      &.danger {
        color: red;
      }
    }
}

.segment {

  .title {
    text-align: center;
    color: dimgrey;
    padding: 10px;
    font-size: 16px;
  }
}

ion-note {
  font-size: 14px;
  padding: 13px 0;
}

.scrollToTop {
  text-align: center;
  padding: 15px;
}
