<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="arabicPages" style="margin-bottom: 10px;" #segment (ionChange)="segmentChanged(segment.value)">
    <ion-segment-button value="arabicPages">
      <ion-label>Na arapskom</ion-label>
    </ion-segment-button>
    <ion-segment-button value="translationPages">
      <ion-label>Prijevod</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="segment" *ngIf="arabicPages">
    <ion-item-sliding *ngFor="let sura of suraListLazyLoaded">
      <ion-item (click)="goTo('/tabs/quran-template', sura);" *ngIf="{currentProgress: trackerService.getQuranCounterForRange(+sura.startpage, +sura.endpage), totalProgress: calculateTotalSuraPages(+sura.endpage, +sura.startpage)} as data">
        <ion-label>
          <h2>{{sura.index}}. {{sura.tname}}</h2>
          <ion-progress-bar style="position: absolute; bottom: 0;" color="primary"
            [value]="data.currentProgress/data.totalProgress" ></ion-progress-bar>
        </ion-label>
        <ion-note slot="end">
          {{data.currentProgress}}/{{data.totalProgress}}
        </ion-note>
        <ion-icon class="success" slot="end"
          *ngIf="data.currentProgress===data.totalProgress"
          name="checkmark-circle-outline"></ion-icon>
        <ion-icon class="danger" slot="end"
          *ngIf="data.currentProgress!==data.totalProgress"
          name="close-circle-outline"></ion-icon>
      </ion-item>
    </ion-item-sliding>
  </div>

  <div class="segment" *ngIf="translationPages">
    <ion-item-sliding *ngFor="let sura of suraListLazyLoaded">
      <ion-item *ngIf="{currentProgress: trackerService.getTranslationCounterForRange(+sura.startpage, +sura.endpage), totalProgress: calculateTotalSuraPages(+sura.endpage, +sura.startpage)} as data" (click)="goTo('/tabs/translation', sura);">
        <ion-label>
          <h2>{{sura.index}}. {{sura.tname}}</h2>
          <ion-progress-bar style="position: absolute; bottom: 0;" color="primary"
            [value]="data.currentProgress/data.totalProgress" ></ion-progress-bar>
        </ion-label>
        <ion-note slot="end">
          {{data.currentProgress}}/{{data.totalProgress}}
        </ion-note>
        <ion-icon class="success" slot="end"
          *ngIf="data.currentProgress===data.totalProgress"
          name="checkmark-circle-outline"></ion-icon>
        <ion-icon class="danger" slot="end"
          *ngIf="data.currentProgress!==data.totalProgress"
          name="close-circle-outline"></ion-icon>
      </ion-item>
    </ion-item-sliding>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <div (click)="ionContentScrollToTop()">
      <ion-icon name="arrow-up-outline"></ion-icon>
      <span style="text-align: center;">Vrati me na pocetak</span>
      <ion-icon name="arrow-up-outline"></ion-icon>
    </div>
  </ion-infinite-scroll>
</ion-content>
