<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Kur'an Audio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-icon (click)="presentPopover($event)" *ngIf="platformService.isAndroid" slot="icon-only" md="ellipsis-vertical"></ion-icon>
        <ion-button routerLink="/settings" *ngIf="platformService.isIOS">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <header>
    <ion-item>
      <ion-label>Izaberite učača</ion-label>
      <ion-select interface="popover" cancelText="Zatvori" #select [(ngModel)]="audioPlayerService.qari"
        (ngModelChange)="audioPlayerService.changeQari(select.value)" class="ion-select form-control">
        <ion-select-option *ngFor="let item of audioPlayerService.listOfQari" [value]="item.value">{{item.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </header>

  <!-- <h4 class="qari">{{audioPlayerService.selectedQari}}</h4> -->

  <ion-searchbar placeholder="Pretražite sure" animated #search (ionInput)="searchSura(search.value)">
  </ion-searchbar>

  <ul class="padding-bottom-120">
    <li *ngFor="let sura of suraList; let i = index"
      [class.active]="sura.index === audioPlayerService.selectedSuraIndex && (audioPlayerService.isPlaying || audioPlayerService.isPaused)"
      (click)="playSura(sura.index)">
      <div>
        <p>{{sura.index}}. {{sura.name.bosnianTranscription}}</p>
        <ng-container
          *ngIf="sura.index === audioPlayerService.selectedSuraIndex && audioPlayerService.isPlaying">
            <div class="playing">
              <span class="playing__bar playing__bar1"></span>
              <span class="playing__bar playing__bar2"></span>
              <span class="playing__bar playing__bar3"></span>
            </div>
        </ng-container>
      </div>
    </li>
  </ul>

</ion-content>
<app-audio-player></app-audio-player>
