<!-- <ion-header>
  <ion-toolbar>
    <ion-title>All in One</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="white"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <main>
    <div class="img-container">
      <ion-row>
        <ion-col size="12">
          <ion-card routerLink="/dhikr">
            <ion-card-header>
              <ion-card-title class="ion-text-center">Zikr</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card routerLink="/prayer">
            <ion-card-header>
              <ion-card-title class="ion-text-center">Namaz</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card routerLink="/quran">
            <ion-card-header>
              <ion-card-title class="ion-text-center">Kur'an</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </main>
</ion-content>
