
ion-list {
  margin-top: 100px;

  &.hide {
    display: none;
  }

  .player-item {
    border: 1px solid #80808042;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;

    h6 {
      text-align: center;
      margin-top: 5px;
    }
  }
}

