<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Testiranje hifza</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref></ion-back-button>
    </ion-buttons>
  <ion-button slot="end" style="margin-right: 10px;height: 30px;" color="danger" *ngIf="isTestInProgress" (click)="isTestInProgress=false">Zavrsi</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [class.hide]="isTestInProgress">
    <div class="player-item">
      <h6>Od</h6>
      <ion-item>
        <ion-label>Od sure</ion-label>
        <ion-select [(ngModel)]="selectedFromSura" interface="popover" placeholder="Odaberite suru" #fromSura (ionChange)="getAyahsFromSura(fromSura.value)">
          <ion-select-option *ngFor="let sura of suraList" [value]="sura">{{sura.name.bosnianTranscription}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Od ajeta</ion-label>
        <ion-select [disabled]="!selectedFromSura" [(ngModel)]="selectedFromSuraAyah" (ngModelChange)="selectedFromSuraAyahChanged()" interface="popover" placeholder="Odaberite ajet">
          <ion-select-option *ngFor="let ayah of fromSuraAyahs" [value]="ayah">{{ayah}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!--do-->
    <div class="player-item">
      <h6>Do</h6>
      <ion-item>
        <ion-label>Do sure</ion-label>
        <ion-select [(ngModel)]="selectedToSura" interface="popover" placeholder="Odaberite suru" #toSura (ionChange)="getAyahsToSura(toSura.value)">
          <ion-select-option *ngFor="let sura of suraListTo" [value]="sura">{{sura.name.bosnianTranscription}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Do ajeta</ion-label>
        <ion-select [disabled]="!selectedToSura" [(ngModel)]="selectedToSuraAyah" interface="popover" placeholder="Odaberite ajet">
          <ion-select-option *ngFor="let ayah of toSuraAyahs" [value]="ayah">{{ayah}}</ion-select-option>
        </ion-select>
      </ion-item>

    </div>
  </ion-list>
  <div style="text-align: center;">
    <div style="padding: 10px;" *ngIf="isTestInProgress">
      {{selectedFromSura.name.bosnianTranscription}} {{selectedFromSuraAyah}}. ajet - {{selectedToSura.name.bosnianTranscription}} {{selectedToSuraAyah}}. ajet
    </div>
    <ion-button color="success" *ngIf="!isTestInProgress" [disabled]="!selectedFromSura || !selectedToSura" (click)="startTest()">Započni test</ion-button>
    <ion-button *ngIf="!showAnswer && isTestInProgress" (click)="showAnswer = true">Prikazi odgovor</ion-button>
    <ion-button *ngIf="showAnswer && isTestInProgress" (click)="showAnswer = false">Sakrij odgovor</ion-button>
    <ion-button *ngIf="isTestInProgress" (click)="startTest()">Sljedece pitanje</ion-button>
  </div>

  <!--page-->
  <ng-container *ngIf="isTestInProgress">
  <div class="main page-{{testPage}}" *ngIf="quranWordsForCurrentPage$ | async">
      <div class="page-orientation" [ngClass]="{'page-orientation__portrait': nativePluginsService.isPortrait(), 'page-orientation__landscape': nativePluginsService.isLandscape()}"
        *ngFor="let page of quranWordsForCurrentPage; let pageIndex = index">
        <div dir="rtl" class="page">
          <div class="ayeLine" *ngFor="let ayah of page.ayahs; let ayahNumber = index">
            <!--sura title-->
            <div *ngIf="ayah.metaData">
              <section class="suraTitle" *ngIf="ayah.metaData.lineType === 'start_sura'">
                <img src="assets/img/surah_title.gif" alt="Quran sura title">
                <h3>{{ayah.metaData.suraName}}</h3>
              </section>

              <!--sura Tevbe-->
              <section class="suraTitle" *ngIf="ayah.metaData.lineType === 'besmellah' && quranService.currentPage === 187">
                <img src="assets/img/surah_title.gif" alt="Quran sura title">
                <h3>Et-Tevbe - التوبة</h3>
              </section>
              <!--sura Tevbe-->

              <section class="bismillah"
                *ngIf="quranService.currentPage !== 187 && quranService.currentPage !==1 && ayah.metaData.lineType === 'besmellah'">
                <!-- quranService.currentPage !== 187" because of sura Tevba-->
                <div>﷽</div>
              </section>
            </div>
            <!--sura title end-->

            <!--ayah-words-wrapper-->
            <i class="endAyah ayah-wrapper" [class.answer--show]="word.index === answerAyah && showAnswer" [class.answer]="word.index === answerAyah" [class.show]="testAyah === word.index" id="{{wordIndex === 0? word.index:''}}" *ngFor="let word of ayah.words; let wordIndex = index">
              <!--end znak - playAyat-->
              <i  class="p{{testPage}} ayah{{word.index}} endAyahColor" *ngIf="word.charType === 'end'"
                [innerHtml]="word.code"></i>
              <!--end znak - playAyat -->

              <!-- word - playWord-->
              <i  class="p{{testPage}} ayah{{word.index}}" *ngIf="word.charType !== 'end'"
               [innerHtml]="word.code"></i>
              <!--word - playWord-->
            </i>
            <!--ayah-words-wrapper end-->

          </div>
          <span class="currentPage">
            {{testPage}}
          </span>
        </div>
      </div>
  </div>
</ng-container>
</ion-content>
