<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!isTestInProgress">Testiranje hifza</ion-title>
    <ion-title style="font-size: 13px;" *ngIf="isTestInProgress">
      {{selectedFromSura.name.bosnianTranscription}} ({{selectedFromSuraAyah}}.) - {{selectedToSura.name.bosnianTranscription}} ({{selectedToSuraAyah}}.)
      </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref></ion-back-button>
    </ion-buttons>
      <ion-button style="height: 30px;" *ngIf="isTestInProgress" color="danger" slot="end" (click)="finishTest()">Zavrsi</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!isTestInProgress">
  <ion-list >
    <div class="player-item">
      <h6>Od</h6>
      <ion-item>
        <ion-label>Od sure</ion-label>
        <ion-select [(ngModel)]="selectedFromSura" interface="popover" placeholder="Odaberite suru" #fromSura (ionChange)="getAyahsFromSura(fromSura.value)">
          <ion-select-option *ngFor="let sura of suraList" [value]="sura">{{sura.index}}. {{sura.name.bosnianTranscription}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Od ajeta</ion-label>
        <ion-select [disabled]="!selectedFromSura" [(ngModel)]="selectedFromSuraAyah" (ngModelChange)="selectedFromSuraAyahChanged()" interface="popover" placeholder="Odaberite ajet">
          <ion-select-option *ngFor="let ayah of fromSuraAyahs" [value]="ayah">{{ayah}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!--do-->
    <div class="player-item">
      <h6>Do</h6>
      <ion-item>
        <ion-label>Do sure</ion-label>
        <ion-select [(ngModel)]="selectedToSura" interface="popover" placeholder="Odaberite suru" #toSura (ionChange)="getAyahsToSura(toSura.value)">
          <ion-select-option *ngFor="let sura of suraListTo" [value]="sura">{{sura.index}}. {{sura.name.bosnianTranscription}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Do ajeta</ion-label>
        <ion-select [disabled]="!selectedToSura" [(ngModel)]="selectedToSuraAyah" interface="popover" placeholder="Odaberite ajet">
          <ion-select-option *ngFor="let ayah of toSuraAyahs" [value]="ayah">{{ayah}}</ion-select-option>
        </ion-select>
      </ion-item>

    </div>
  </ion-list>
  <div style="text-align: center;">

    <ion-item>
      <ion-label>Random poredani ajeti</ion-label>
      <ion-checkbox [(ngModel)]="randomAyahTest"></ion-checkbox>
    </ion-item>

    <ion-button style="margin-top: 20px;" color="success" [disabled]="!selectedFromSura || !selectedToSura" (click)="startTest()">Započni test</ion-button>
  </div>
</ng-container>

<!--tests-->
  <ng-container *ngIf="!randomAyahTest && isTestInProgress">
    <app-hifz-ayah-by-ayah-test (testIsFinished)="finishTest()" [selectedFromSura]="selectedFromSura" [selectedToSura]="selectedToSura" [selectedFromSuraAyah]="selectedFromSuraAyah" [selectedToSuraAyah]="selectedToSuraAyah"></app-hifz-ayah-by-ayah-test>
  </ng-container>

  <ng-container *ngIf="randomAyahTest && isTestInProgress">
    <app-hifz-random-ayahs-test (testIsFinished)="finishTest()" [selectedFromSura]="selectedFromSura" [selectedToSura]="selectedToSura" [selectedFromSuraAyah]="selectedFromSuraAyah" [selectedToSuraAyah]="selectedToSuraAyah"></app-hifz-random-ayahs-test>
  </ng-container>
</ion-content>
