

main {
  // background: var(--ion-color-primary);
  background: white;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 0;
  transition: all .4s;
  z-index: -1;
  opacity: 0;
  box-shadow: #868686 0px 0px 20px 0px;
  overflow: scroll;
  padding-top: 45px;

  &.show {
    max-height: 100%;
    z-index: 99999;
    opacity: 1;
    height: 93%;
    position: fixed;
  }

  ion-list {
    width: 100%;

    .player-item {
      border: 1px solid #80808042;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 20px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      background-color: whitesmoke;

      h6 {
        text-align: center;
        margin-top: 5px;
      }
    }
  }

  ion-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: gray;
  }
}
