<!--global player-->
<ng-container *ngIf="mediaPlayerService.player">

  <div class="global-player">
    <!--progress-bar-->
    <ion-progress-bar color="primary" [value]="mediaPlayerService.currentTime/mediaPlayerService.getPlayerDuration()">
    </ion-progress-bar>
    <!--progress-bar-->
    <div class="icon">
      <div class="left-part">
        <ng-container *ngIf="!mediaPlayerService.hifzIsPlaying && !mediaPlayerService.isLoading">
        <!--speed-->
        <div class="speed">
          <span>{{mediaPlayerService.selectedSpeedOption}}x</span>
          <ion-icon (click)="openSpeedOptions()" name="speedometer-outline">{{mediaPlayerService.selectedSpeedOption}}
          </ion-icon>
        </div>
        <!--speed-->

        <!--repeat-->
        <div class="repeat" (click)="showSpeedOptions = true">
          <span>{{mediaPlayerService.selectedRepeatOption}}</span>
          <ion-icon name="repeat-outline"></ion-icon>
        </div>
        <!--repeat-->
      </ng-container>

      <ng-container *ngIf="mediaPlayerService.hifzIsPlaying">
        <div style="display: block;">
            <p *ngIf="mediaPlayerService.hifzRepeatGroupOfAyahs>1" style="font-size: 12px; margin: 1px;">skupina ajeta: {{mediaPlayerService.hifzRepeatGroupOfAyahsCounter+1}}/{{mediaPlayerService.hifzRepeatGroupOfAyahs}}</p>
            <p *ngIf="mediaPlayerService.hifzRepeatEveryAyah>1" style="font-size: 12px; margin: 1px;">pojedinačni ajet: {{mediaPlayerService.hifzRepeatEveryAyahCounter}}/{{mediaPlayerService.hifzRepeatEveryAyah}}</p>
        </div>
      </ng-container>
      </div>
      <ion-spinner *ngIf="mediaPlayerService.isLoading" name="bubbles" color="white"></ion-spinner>

      <!--hifz delay-->
      <p class="hifz-delay" *ngIf="mediaPlayerService.currentHifzDelayTime !== -1">{{mediaPlayerService.currentHifzDelayTime/1000}}</p>
      <!--hifz delay-->

      <ng-container *ngIf="mediaPlayerService.currentHifzDelayTime === -1">

      <!--play-->
      <ion-icon class="icon__play" name="play" *ngIf="mediaPlayerService.isPaused"
        (click)="mediaPlayerService.continueAudio();">
      </ion-icon>
      <!--play-->

      <!--pause-->
      <ion-icon class="icon__pause" name="pause" *ngIf="mediaPlayerService.isPlaying"
        (click)="mediaPlayerService.pauseAudio();">
      </ion-icon>
      <!--pause-->

      <!--stop-->
      <ion-icon class="icon__stop" *ngIf="mediaPlayerService.isPlaying || mediaPlayerService.isPaused"
        (click)="stopPlayer()" name="stop">
      </ion-icon>
      <!--stop-->
    </ng-container>

      <div class="right-part">
        <!--qari-->
        <ng-container *ngIf="!mediaPlayerService.hifzIsPlaying && !mediaPlayerService.isLoading">
          <span (click)="openQari()">{{quranService.qari.name}}</span>
          <ion-icon class="icon__qari" (click)="openQari()" name="people-outline"></ion-icon>
        </ng-container>
        <!--qari-->

        <!--hifz-->
        <ion-icon *ngIf="showHifzIcon" class="icon__hifz" (click)="showHifzPlayer()" name="settings-outline"></ion-icon>
        <!--hifz-->
      </div>


    </div>
  </div>

  <div class="selects">
    <!--qari-->
    <ion-item>
      <ion-label>Odaberite učača</ion-label>
      <ion-select [cancelText]="'Zatvori'" class="right-select" interface="action-sheet" #qari [(ngModel)]="quranService.qari.value"
        (ngModelChange)="quranService.changeQari(qari.value)" name="qari">
        <ion-select-option *ngFor="let item of quranService.qariList" value="{{item.identifier}}">
          {{item.englishName}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!--qari-->

    <!--speed-->
    <ion-item>
      <ion-label>Odaberite brzinu učenja</ion-label>
      <ion-select class="left-select" (ngModelChange)="speedChanged()" [(ngModel)]="mediaPlayerService.selectedSpeedOption" interface="popover"
        #speedOptions>
        <ion-select-option *ngFor="let option of mediaPlayerService.speedOptions" [value]="option.value">
          {{option.value}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!--speed-->


  </div>


</ng-container>
<!--global player end-->

<!--custom (not good) repeat options modal-->
<div class="repeat-options-wrapper" [class.show]="showSpeedOptions">
  <div (click)="showSpeedOptions=false">
    <div class="close-part1"></div>
    <div class="close-part2"></div>
  </div>
  <div class="repeat-options">
    <ion-item>
      <ion-label>Unesite broj ponavljanja ajeta</ion-label>
    </ion-item>
    <ion-item (click)="showSpeedOptions = true">
      <ion-input style="text-align: center;" type="number" [(ngModel)]="mediaPlayerService.selectedRepeatOption"
        [placeholder]="'Broj ponavljanja'"></ion-input>
    </ion-item>
  </div>
</div>
<!--custom repeat options modal-->
