.global-player {
  position: fixed;
  border: 0;
  width: 100%;
  background: var(--ion-color-primary);
  opacity: 0.8;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 45px;
  color: white;
  font-weight: bold;
  background: #262932;
  z-index: 99;

  &.hide {
    z-index: -1;
    visibility: hidden;
  }

  .icon {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      background: var(--ion-color-primary);
      border-radius: 50%;
    }

    &__play {
      padding: 3px 3px 3px 5px;
    }

    &__pause {
      padding: 3px;
    }

    &__stop {
      padding: 3px;
      margin-left: 5px;
    }

    &__qari {
      padding: 1px 2px 2px;
      font-size: 18px;
    }

    &__hifz {
      padding: 1px 2px 2px;
      font-size: 18px;
      margin-left: 10px;
    }

    &__play-next {
      &--disabled {
        opacity: 0.3;
      }
    }

    &__play-prev {
      &--disabled {
        opacity: 0.3;
      }
    }
  }

  .left-select,
  .right-select {
    max-width: 40%;
    width: 40%;
  }

  ion-progress-bar {
    position: absolute; top: -3px;
  }
}

.selects {
  visibility: hidden;
  max-height: 0;
  z-index: -1;
}
ion-popover {
  position: absolute;
  right: 0;
  top: 0;
}

.left-part {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 8px;

  ion-icon {
    padding: 1px 2px 2px;
    font-size: 18px;
  }

  .repeat {
    ion-icon {
      padding: 1px 3px 3px;
    }
  }

  span {
    font-size: 14px;
    margin-right: 3px;
  }

  .speed,
  .repeat {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .speed {
    margin-right: 10px;
  }
}

.right-part {
  position: absolute;
  right: 6px;
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 36%;

  span {
    font-size: 12px;
    margin-right: 5px;
    max-width: 55%;
    max-height: 35px;
    overflow-x: auto;
    text-align: center;
  }
}

.repeat-options-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000006b;
  z-index: 999;
  display: none;

  &.show {
    display: block;
  }
}
.repeat-options {
  position: absolute;
  bottom: 45%;
  left: 50%;
  height: 50px;
  transform: translate(-50%, -50%);
}


.close-part1 {
  position: absolute;
    top: 0;
    bottom: 57%;
    z-index: 999;
    left: 0;
    right: 0;
}

.close-part2 {
  position: absolute;
    bottom: 0;
    top: 60%;
    z-index: 999;
    left: 0;
    right: 0;
}

.hifz-delay {
  font-size: 23px;
  min-width: 100px;
  text-align: center;
}
