<!--global player-->
<ng-container *ngIf="mediaPlayerService.player">

  <div class="global-player">
    <!--progress-bar-->
    <ion-progress-bar color="primary" [value]="mediaPlayerService.currentTime/mediaPlayerService.getPlayerDuration()">
    </ion-progress-bar>
    <!--progress-bar-->
    <div class="icon">
      <div class="left-part">
        <!--speed-->
        <div class="speed">
          <span>{{mediaPlayerService.selectedSpeedOption}}x</span>
          <ion-icon (click)="openSpeedOptions()" name="speedometer-outline">{{mediaPlayerService.selectedSpeedOption}}
          </ion-icon>
        </div>
        <!--speed-->

        <!--repeat-->
        <div class="repeat" (click)="showSpeedOptions = true">
          <span>{{mediaPlayerService.selectedRepeatOption}}</span>
          <ion-icon name="repeat-outline"></ion-icon>
        </div>
        <!--repeat-->
      </div>
      <ion-spinner *ngIf="mediaPlayerService.isLoading" name="bubbles" color="white"></ion-spinner>


      <!--play-->
      <ion-icon class="icon__play" name="play" *ngIf="mediaPlayerService.isPaused"
        (click)="mediaPlayerService.continueAudio();">
      </ion-icon>
      <!--play-->

      <!--pause-->
      <ion-icon class="icon__pause" name="pause" *ngIf="mediaPlayerService.isPlaying"
        (click)="mediaPlayerService.pauseAudio();">
      </ion-icon>
      <!--pause-->

      <!--stop-->
      <ion-icon class="icon__stop" *ngIf="mediaPlayerService.isPlaying || mediaPlayerService.isPaused"
        (click)="mediaPlayerService.removePlayer(); mediaPlayerService.playingCurrentAyah = null" name="stop">
      </ion-icon>
      <!--stop-->

      <div class="right-part">
        <!--qari-->
        <!-- <span>{{quranService.qari.name}}</span> -->
        <ion-icon class="icon__qari" (click)="openQari()" name="people-outline"></ion-icon>
        <ion-icon class="icon__qari" (click)="showHifzPlayer()" name="settings-outline"></ion-icon>
        <!--qari-->
      </div>


    </div>
  </div>

  <div class="selects">
    <!--qari-->
    <ion-item>
      <ion-label>Odaberite učača</ion-label>
      <ion-select class="right-select" interface="popover" #qari [(ngModel)]="quranService.qari"
        (ngModelChange)="quranService.changeQari(qari.value)" name="qari">
        <ion-select-option *ngFor="let item of quranService.qariList" value="{{item.identifier}}">
          {{item.englishName}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!--qari-->

    <!--speed-->
    <ion-item>
      <ion-label>Odaberite brzinu učenja</ion-label>
      <ion-select class="left-select" [(ngModel)]="mediaPlayerService.selectedSpeedOption" interface="popover"
        #speedOptions>
        <ion-select-option *ngFor="let option of mediaPlayerService.speedOptions" [value]="option.value">
          {{option.value}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!--speed-->


  </div>


</ng-container>
<!--global player end-->

<!--custom (not good) repeat options modal-->
<div class="repeat-options-wrapper" [class.show]="showSpeedOptions">
  <div (click)="showSpeedOptions=false">
    <div class="close-part1"></div>
    <div class="close-part2"></div>
  </div>
  <div class="repeat-options">
    <ion-item>
      <ion-label>Unesite broj ponavljanja ajeta</ion-label>
    </ion-item>
    <ion-item (click)="showSpeedOptions = true">
      <ion-input style="text-align: center;" [(ngModel)]="mediaPlayerService.selectedRepeatOption"
        [placeholder]="'Broj ponavljanja'"></ion-input>
    </ion-item>
  </div>
</div>
<!--custom repeat options modal-->
