main {
  height: 70%;
  overflow: scroll;

  .title, .description {
    text-align: center;
    font-size: 16px;
    position: relative;
    color: black;
  }

  .description {
    font-weight: 400;
  }
  ion-icon {
    padding: 5px;
    border-radius: 50%;
    color: white;
    font-size: 18px;

    &.success {
      background: #1ece1e;
    }

    &.danger {
      background: #f65757;
    }
  }
}
