.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &.nightMode {
    background-color: black;

    .ayeLine i {
      color: white;

      &.active, &:hover {
        i {
          color: var(--ion-color-primary);
        }
      }
    }
  }

  // background-color: #f2f0db;
  // background-color: #fdfef8;
  // background-color: #fcfcf2;
  // background-color: #FAF1E3;

  &.page-1, &.page-2 {
    height: 100%;
  }

  @media(orientation: landscape) {
    padding-top: 10px;
  }

  &.without-tabs {
    height: auto;
    padding-top: 10px;

    @media(orientation: landscape) {
      padding-top: 10px;
    }

    @media (min-width: 450px) {
      height: auto;
    }

    ion-slide {
      min-height: 100vh;
    }
  }
}

.play-btn-wrapper {
  margin-left: 10px;

  .btn {
    background: #d9c3a7;
    color: var(--ion-text-color);
  }
}

.arabic {
  font-family: "p2-v1";
}


//Quran slider - words (START)
ion-slides {
  direction: rtl;

  ion-slide {
    height: 100%;
    width: 100% !important;
    min-height: 85vh;

    @media(max-height: 800px) {
      padding-top: 15px;
    }

    &:nth-child(1) {
      opacity: 0;
    }
    &:nth-child(3) {
      opacity: 0;
    }

    &.page {
      width: 100%;
      overflow: auto;
      padding-top: 15px;

      &.audioPlaying {
        padding-bottom: 50px;
      }
    }

    &.showTranslationModal {
      padding-bottom: 170px;

      @media(min-height: 1700px) {
        padding-bottom: 450px;
      }
    }
  }
}
//Qurans slider - words (END)

.dropdown-wrapper {
  select {
    width: 200px;
    display: inline-block;
    margin-right: 5px;
  }
}

ion-toolbar {
  &.swiper {
    position: fixed;
    bottom: 0;

    ion-buttons {
      ion-icon {
        font-size: 25px;
        padding: 0 30px;
      }
    }
    ion-text {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: bold;
    }
  }
}

ion-header {
  ion-title {
    font-size: 16px;
  }
  ion-icon {
    margin-left: 15px;
    font-size: 22px;

    &.popover-icon {
      margin-right: 10px;
    }
  }
}

.translation {
  text-align: left;

  .ayah {
    border-bottom: 1px solid gainsboro;

    p {
      padding: 2px 10px;
    }

    .verse_key {
      height: 35px;
      font-size: 15px;
      padding-left: 10px;

      p {
        background: var(--ion-color-primary);
        display: inline-block;
        color: var(--ion-text-color);
        border-radius: 5px;
        padding: 0px 4px !important;
      }
    }
  }
}

.currentPage {
  font-size: 15px;
  font-style: italic;
}

.swiper {
  position: fixed;
  border: 0;
  width: 100%;
  background: var(--ion-color-primary);
  opacity: 0.8;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 45px;
  color: white;
  font-weight: bold;

  .icon-wrapper {
    position: absolute;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;

    &.disabled {
      opacity: 0.2;
    }

    &.left {
      left: 0px;
    }

    &.right {
      right: 0px;
    }
  }

  .player {
    ion-icon {
      font-size: 25px;
    }
  }
}

ion-title {
  max-width: 94%;
  &.android {
    font-size: 16px;
    max-width: 52%;
  }
}
