<ion-header class="{{quranService.showHeaderAndTabs?'show':'hide'}}"
  (click)="quranService.showHeaderAndTabs=!quranService.showHeaderAndTabs">
  <ion-toolbar color="primary">
    <ion-title>
      <ng-container>
        Naziv sure
      </ng-container>
    </ion-title>

    <!-- <ion-icon slot="end" name="bookmark-outline" *ngIf="!bookmarksService.checkIsInBookmark(quranService.currentPage)"
      (click)="addBookmark(quranService.currentPage);quranService.showHeaderAndTabs=!quranService.showHeaderAndTabs">
    </ion-icon>
    <ion-icon slot="end" name="bookmark" *ngIf="bookmarksService.checkIsInBookmark(quranService.currentPage)"
      (click)="deleteBookmark(quranService.currentPage);quranService.showHeaderAndTabs=!quranService.showHeaderAndTabs">
    </ion-icon>
    <ion-icon slot="end" name="search" *ngIf="!showSearchHeader"
      (click)="quranService.showHeaderAndTabs=!quranService.showHeaderAndTabs;showSearchHeader=true">
    </ion-icon>
    <ion-icon slot="end" name="close-outline" *ngIf="showSearchHeader"
    (click)="quranService.showHeaderAndTabs=!quranService.showHeaderAndTabs;showSearchHeader=false"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main {{quranService.showHeaderAndTabs?'':'without-tabs'}}" *ngIf="allQuranWords$ | async as quranWords">
    <div class="page" *ngFor="let page of quranWordsForCurrentPage; let pageIndex = index">
      <div class="ayeLine" *ngFor="let ayah of page;">

        <!--sura title-->
        <ng-container *ngIf="ayah.suraName">
          <section class="suraTitle" *ngIf="ayah.suraName">
            <img src="assets/img/surah_title.gif" alt="Quran sura title">
            <h3>{{ayah.suraName}}</h3>
          </section>

          <section class="bismillah" *ngIf="quranService.currentPage !== 187">
            <!-- *ngIf="quranService.currentPage !== 187" because of sura Tevba-->

            <div>﷽</div>
            <h4 class="ayeSimple">بسم الله الرحمن الرحیم</h4>
          </section>
        </ng-container>
        <!--sura title end-->

        <ng-container *ngFor="let word of ayah.words;">
          <!--end znak - playAyat-->
          <i class="p{{quranService.currentPage}} ayah{{word.index}} endAyah" *ngIf="word.charType === 'end'" (click)="playAyat(word.index)"
            [innerHtml]="word.code"></i>
          <!--end znak - playAyat -->

          <!-- word - playWord-->
          <i  class="p{{quranService.currentPage}} ayah{{word.index}}" *ngIf="word.charType !== 'end'" (click)="playWord(word.audio)"
            [innerHtml]="word.code"></i>
          <!--word - playWord-->

        </ng-container>
      </div>
    </div>
  </div>

  <div class="swiper" color="primary">
    <!-- <ng-container *ngIf="audio">
      <div class="player">
        <ion-icon name="play" *ngIf="audio.paused"
        (click)="resumeAudio()"></ion-icon>
      <ion-icon name="pause" *ngIf="!audio.paused"
        (click)="pauseAudio();"></ion-icon>

        <ion-icon name="stop" style="margin-left: 15px;"
        (click)="stopAudio();"></ion-icon>

      </div>
        <ion-select style="margin-left: 20px; background: transparent; max-width: 60%;" interface="popover" #select [(ngModel)]="quranService.qari"
          (ngModelChange)="quranService.changeQari(select.value)" class="ion-select form-control" name="qari" #qari>
          <ion-select-option *ngFor="let item of quranService.qariList" value="{{item.identifier}}">{{item.englishName}}
          </ion-select-option>
        </ion-select>
    </ng-container> -->

    <ng-container>

      <div class="icon-wrapper left" [class.disabled]="quranService.currentPage === 604"
        (click)="onSuraChanged(+quranService.currentPage + 1)">
        <ion-icon style="margin-right: 30px;" class="next-icon" name="arrow-back-outline"></ion-icon>
      </div>
      <div class="currentPage">
        <ion-text>
          {{quranService.currentPage}}
        </ion-text>
        <!-- <ion-checkbox color="primary" (ionChange)="markPage($event)"
          [checked]="trackerService.isQuranPageCompleted(quranService.currentPage)"></ion-checkbox> -->
      </div>
      <div class="icon-wrapper right" [class.disabled]="quranService.currentPage === 1"
        (click)="onSuraChanged(+quranService.currentPage - 1)">
        <ion-icon style="margin-left: 30px;" class="prev-icon" name="arrow-forward-outline"></ion-icon>
      </div>
    </ng-container>
  </div>
</ion-content>
