<!--exit fullscreen-->
<ion-icon class="exit-fullscreen" name="exit-outline" *ngIf="quranService.showHeaderAndTabs === false"
  (click)="quranService.showHeaderAndTabs = true"></ion-icon>
<!--exit fullscreen-->

<ion-header class="{{quranService.showHeaderAndTabs?'show':'hide'}}">

  <ion-toolbar color="primary" *ngIf="{sura: sura$ | async, juz: juz$ | async} as pageDetails">
    <ion-title slot="start">
      {{pageDetails.sura.name.bosnianTranscription}} - {{pageDetails.juz.id}}.džuz
    </ion-title>
    <!--bookmarks-->
    <ion-icon slot="end" name="bookmark-outline" *ngIf="!checkIsInBookmark()" (click)="addBookmark(pageDetails.sura);">
    </ion-icon>
    <ion-icon slot="end" name="bookmark" *ngIf="checkIsInBookmark()"
      (click)="deleteBookmark(quranService.currentPage);">
    </ion-icon>
    <!--bookmarks-->

    <!--fullscreen-->
    <ion-icon slot="end" name="expand-outline" (click)="quranService.showHeaderAndTabs = false"></ion-icon>
    <!--fullscreen-->

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main {{quranService.showHeaderAndTabs?'':'without-tabs'}}">
    <ion-slides #slider (ionSlideNextStart)="loadNext()" (ionSlidePrevStart)="loadPrev()" [options]="slideOpts">
      <ion-slide class="page" [class.audioPlaying]="mediaPlayerService.player"
        *ngFor="let page of quranWordsForCurrentPage; let pageIndex = index">
        <div>
          <div class="ayeLine" *ngFor="let ayah of page.words; let ayahNumber = index">

            <!--sura title-->
            <ng-container *ngIf="ayah.suraName">
              <section class="suraTitle" *ngIf="ayah.suraName">
                <img src="assets/img/surah_title.gif" alt="Quran sura title">
                <h3>{{ayah.suraName}}</h3>
              </section>

              <section class="bismillah" *ngIf="quranService.currentPage !== 187">
                <!-- *ngIf="quranService.currentPage !== 187" because of sura Tevba-->

                <div>﷽</div>
                <h4 class="ayeSimple">بسم الله الرحمن الرحیم</h4>
              </section>
            </ng-container>
            <!--sura title end-->
            <ng-container *ngFor="let word of ayah.words;">
              <!--end znak - playAyat-->
              <i class="p{{quranService.currentPage}} ayah{{word.index}} endAyah" *ngIf="word.charType === 'end'"
                (click)="playAyah(word.index);" [innerHtml]="word.code"></i>
              <!--end znak - playAyat -->

              <!-- word - playWord-->
              <i [class.active]="mediaPlayerService.playingCurrentAyah === word.index"
                class="p{{quranService.currentPage}} ayah{{word.index}}" *ngIf="word.charType !== 'end'"
                (click)="playWord(word.audio)" [innerHtml]="word.code"></i>
              <!--word - playWord-->

            </ng-container>
          </div>
          <h6 class="currentPage">{{quranService.currentPage}}</h6>
        </div>
      </ion-slide>

    </ion-slides>
  </div>
   <!--global player-->
   <app-player></app-player>
   <!--global player end-->
</ion-content>
