<!--exit fullscreen-->
<ion-icon class="exit-fullscreen" name="exit-outline" *ngIf="quranService.showHeaderAndTabs === false"
  (click)="quranService.showHeaderAndTabs = true"></ion-icon>
<!--exit fullscreen-->



<ion-content>
  <ion-header class="{{quranService.showHeaderAndTabs?'show':'hide'}}">

    <ion-toolbar color="primary" *ngIf="{sura: sura$ | async, juz: juz$ | async} as pageDetails">
      <ion-buttons slot="start">
        <ion-back-button (click)="goToHomePage()" defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-title [class.android]='platformService.isAndroid' slot="start">
        <span *ngFor="let item of pageDetails.sura; let i = index">
          {{item.name?.bosnianTranscription}}<span *ngIf="i+1 < pageDetails.sura.length">,</span>
        </span>
        <div>
          <span style="font-size: 13px;">Stranica {{quranService.currentPage}}, Džuz {{pageDetails.juz?.id}}</span>
        </div>
      </ion-title>
      <!--bookmarks-->
      <ion-icon slot="end" name="bookmark-outline" *ngIf="!checkIsInBookmark()" (click)="addBookmark(pageDetails.sura);">
      </ion-icon>
      <ion-icon slot="end" name="bookmark" *ngIf="checkIsInBookmark()"
        (click)="deleteBookmark(quranService.currentPage);">
      </ion-icon>
      <!--bookmarks-->

      <!--fullscreen-->
      <ion-icon slot="end" name="expand-outline" (click)="quranService.showHeaderAndTabs = false"></ion-icon>
      <!--fullscreen-->

    </ion-toolbar>
  </ion-header>
  <div class="main page-{{quranService.currentPage}} {{quranService.showHeaderAndTabs?'':'without-tabs'}}" *ngIf="quranWordsForCurrentPage$ | async">
    <ion-slides #slider (ionSlideNextStart)="loadNext()" (ionSlidePrevStart)="loadPrev()" [options]="slideOpts">
      <ion-slide class="page-orientation" [ngClass]="{'page-orientation__portrait': nativePluginsService.isPortrait(), 'page-orientation__landscape': nativePluginsService.isLandscape()}" [class.audioPlaying]="mediaPlayerService.player"
        *ngFor="let page of quranWordsForCurrentPage; let pageIndex = index">
        <div>
          <div class="ayeLine" *ngFor="let ayah of page.ayahs; let ayahNumber = index">

            <!--sura title-->
            <div *ngIf="ayah.metaData">
              <section class="suraTitle" *ngIf="ayah.metaData.lineType === 'start_sura'">
                <img src="assets/img/surah_title.gif" alt="Quran sura title">
                <h3>{{ayah.metaData.suraName}}</h3>
              </section>

              <section class="bismillah"
                *ngIf="quranService.currentPage !== 187 && quranService.currentPage !==1 && ayah.metaData.lineType === 'besmellah'">
                <!-- *ngIf="quranService.currentPage !== 187" because of sura Tevba-->

                <div>﷽</div>
              </section>
            </div>
            <!--sura title end-->

            <!--ayah-words-wrapper-->
            <i *ngFor="let word of ayah.words;" [class.active]="mediaPlayerService.playingCurrentAyah === word.index">
              <!--end znak - playAyat-->
              <i class="p{{quranService.currentPage}} ayah{{word.index}} endAyah" *ngIf="word.charType === 'end'"
                (click)="playAyah(word.index);" [innerHtml]="word.code"></i>
              <!--end znak - playAyat -->

              <!-- word - playWord-->
              <i class="p{{quranService.currentPage}} ayah{{word.index}}" *ngIf="word.charType !== 'end'"
                (click)="playWord(word.audio)" [innerHtml]="word.code"></i>
              <!--word - playWord-->
            </i>
            <!--ayah-words-wrapper end-->

          </div>
          <div>
            <ion-input dir="ltr" #currentPage (ionChange)="checkPage(currentPage.value)" [placeholder]="quranService.currentPage"></ion-input>
            <ion-button *ngIf="showGoToPageButton" color="primary" (click)="goToPage(currentPage.value)">OK</ion-button>
          </div>
        </div>
      </ion-slide>

    </ion-slides>
  </div>
  <!--global player-->
  <app-player></app-player>
  <!--global player end-->
</ion-content>

<ng-container *ngIf="screenOrientation$ | async"></ng-container>
