<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Hifz</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="text-align: center;position: absolute;top: 10%;left: 50%;transform: translateX(-50%);">U fazi izrade..</p>
  <main>
    <div class="hifz-items">
      <div class="hifz-item" routerLink="/hifz/hifz-test">Hifz test</div>
      <div class="hifz-item" routerLink="/hifz/hifz-tracker">Hifz tracker</div>
      <div class="hifz-item" (click)="mediaPlayerService.showHifzPlayer = true">Ponavljanje/hifz Kur'ana</div>
      <app-hifz-player [goToUrl]="'/tabs/holy-quran'"></app-hifz-player>
    </div>
  </main>
</ion-content>
