<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Qibla</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="white"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main id="main" class="{{data.trueHeading >= qiblaDirectionInDegreesFromNorth-5 && data.trueHeading <= qiblaDirectionInDegreesFromNorth+5?'active':''}}">
    <div id="container">
      <img src="assets/img/compass.png" width="200em" [ngStyle]="{'transform': 'rotate('+(qiblaLocation*-1)+'deg)'}">
      <p>{{qiblaDirectionInDegreesFromNorth}}°</p>
      <p>{{(!!data ? data.trueHeading : 0)}}°</p>

      <div *ngIf="locationData && currentLocation">
        <p>{{locationData.countryName}}</p>
        <p>{{locationData.subAdministrativeArea}}</p>
        <p>{{locationData.locality}}</p>
      </div>
    </div>
  </main>
</ion-content>
