<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon (click)="presentPopover($event)" slot="icon-only" name="ellipsis-vertical"></ion-icon>
  </ion-buttons>
    <ion-title>Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!--ion-segment-->
    <ion-segment [(ngModel)]="selectedSegment" class="sticky">

      <ion-segment-button [value]="segments.tracker">
        <ion-label>Progres</ion-label>
      </ion-segment-button>

      <ion-segment-button [value]="segments.bookmark">
        <ion-label>Bilješke</ion-label>
      </ion-segment-button>

      <ion-segment-button [value]="segments.favorite">
        <ion-label>Omiljeno</ion-label>
      </ion-segment-button>

    </ion-segment>
    <!--ion-segment-->

    <ng-container *ngIf="selectedSegment === segments.bookmark">
      <h5 class="title">Kur'an</h5>
      <p class="description" *ngIf="bookmarksService.bookmarks.length === 0">Nemate bilješki</p>

      <ion-item-sliding *ngFor="let item of bookmarksService.bookmarks">

        <ion-item (click)="goTo('quran/tabs/holy-quran', item.pageNumber);">
          <ion-label>
            <h2>{{item.sura}}</h2>
            <p>{{item.date | date: 'dd.MM.YYYY HH:mm'}}</p>
          </ion-label>
          <ion-note slot="end">
            {{item.pageNumber}}
          </ion-note>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" expandable (click)="bookmarksService.deleteBookmark(item.pageNumber)">
            Izbriši
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <h5 class="title">Prijevod i Tefsir</h5>
      <p class="description" *ngIf="bookmarksService.tafsirBookmarks.length === 0">Nemate bilješki</p>
      <ion-item-sliding *ngFor="let item of bookmarksService.tafsirBookmarks">

        <ion-item (click)="goTo('quran/tabs/translation', item.pageNumber);">
          <ion-label>
            <h2>{{item.sura}}</h2>
            <p>{{item.date | date: 'dd.MM.YYYY HH:mm'}}</p>
          </ion-label>
          <ion-note slot="end">
            {{item.pageNumber}}
          </ion-note>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" expandable (click)="bookmarksService.deleteTafsirBookmark(item.pageNumber)">
            Izbriši
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>



    <ng-container *ngIf="selectedSegment === segments.favorite && suraList">
      <p class="description" *ngIf="storageService.favoriteAyahs.length === 0">Niste označili nijedan ajet kao omiljeni</p>
      <div *ngFor="let ayah of storageService.favoriteAyahs">
        <div class="ayah" id="{{ayah.index}}">
          <!--progress-bar-->
          <ion-progress-bar
            *ngIf="mediaPlayerService.playingCurrentAyah === ayah.index && (mediaPlayerService.isPlaying || mediaPlayerService.isPaused)"
            color="primary" [value]="mediaPlayerService.currentTime/mediaPlayerService.getPlayerDuration()">
          </ion-progress-bar>
          <!--progress-bar-->

          <div class="ayah__header" (click)="ayah.showHeader = false">
            <h4 class="title">
              {{suraList[ayah.sura-1].name.bosnianTranscription}} {{ayah.ayaNumber}}.
            </h4>
            <div class="icons">
              <!--favorite icons-->
              <ion-icon class="red" name="heart" (click)="storageService.removeFromFavorites(ayah)"></ion-icon>
              <!--favorite icons-->

              <ion-icon name="share-social" (click)="shareAyah(suraList[ayah.sura-1].name.bosnianTranscription, ayah)"></ion-icon>
            </div>

            <!--player-->
            <div class="player" [class.show]="ayah.showHeader">
                <ion-icon *ngIf="mediaPlayerService.isPaused || !mediaPlayerService.player || !mediaPlayerService.isPlaying" (click)="playAyah(ayah.index);" name="play"></ion-icon>
                <ion-icon *ngIf="mediaPlayerService.isPlaying && mediaPlayerService.playingCurrentAyah === ayah.index" (click)="mediaPlayerService.pauseAudio();" name="pause"></ion-icon>
            </div>
            <!--player-->
          </div>

          <div class="ayah__info">
            <p class="arabic">{{ayah.aya}}</p>
            <div class="item">
              <span class="item__title">Prijevod:</span>
              <p class="item__content">{{ayah.korkutsTranslation}}</p>
            </div>
            <div>
              <span class="item__title">Tefsir:</span>
              <p class="item__content">{{ayah.tafsir}}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!--ion-segment tracker-->
    <ng-container *ngIf="selectedSegment === segments.tracker">
      <div class="segment-wrapper">
        <div class="segment" [class.active]="selectedTrackerValue === trackerValue.todays" (click)="selectedTrackerValue = trackerValue.todays">Današnji</div>
        <div class="segment" [class.active]="selectedTrackerValue === trackerValue.total" (click)="selectedTrackerValue = trackerValue.total">Ukupni</div>
      </div>
    <!--ion-segment tracker-->


      <ng-container *ngIf="selectedTrackerValue === trackerValue.todays">
        <app-todays-tracker-modal></app-todays-tracker-modal>
      </ng-container>
      <ng-container *ngIf="selectedTrackerValue === trackerValue.total">
        <app-tracker></app-tracker>
      </ng-container>
    </ng-container>
  </ion-content>
