
<ion-content>
  <section class="slider" [class.show]="dhikrService.showSlider">
    <div class="arrows">
      <ion-icon class="arrow arrow__left" name="chevron-back-outline" (click)="slidePrev()"></ion-icon>
      <ion-icon class="arrow arrow__right" name="chevron-forward-outline" (click)="slideNext()"></ion-icon>
    </div>

  <ion-text class="counter">
    {{sliderActiveIndex + 1}} / {{sliderLength}}
  </ion-text>
  <ion-slides pager="true" pager="true" #slides (ionSlideDidChange)="slideChanged()"
    (ionSlideNextEnd)="mediaPlayerService.removePlayer()" (ionSlidePrevEnd)="mediaPlayerService.removePlayer()">
    <ion-slide *ngFor="let dhikr of dhikrs">
      <div class="icons">
        <ion-icon name="play-outline" (click)="mediaPlayerService.playAudio(dhikr.audio)" *ngIf="!mediaPlayerService.isPlaying && !mediaPlayerService.isPaused"></ion-icon>
        <ion-icon name="play-outline" (click)="mediaPlayerService.continueAudio()" *ngIf="mediaPlayerService.isPaused"></ion-icon>
        <ion-icon name="pause-outline" (click)="mediaPlayerService.pauseAudio()" *ngIf="mediaPlayerService.isPlaying && !mediaPlayerService.isPaused"></ion-icon>
      </div>

      <div class="card card__arabic" *ngIf="dhikrService.showArabicDhikr">
        <ng-container *ngFor="let sentence of dhikr.sentences">
          <p dir="rtl" [class.card--active]="mediaPlayerService.currentTime >= sentence.startSecond && mediaPlayerService.currentTime <= sentence.endSecond"
            (click)="mediaPlayerService.setAudioCurrentTime(sentence.startSecond, dhikr.audio)">{{sentence.arabic}}</p>
        </ng-container>
      </div>

      <div class="card" *ngIf="dhikrService.showDhikrTranslation">
        <ng-container *ngFor="let sentence of dhikr.sentences">
          <p [class.card--active]="mediaPlayerService.currentTime >= sentence.startSecond && mediaPlayerService.currentTime <= sentence.endSecond"
            (click)="mediaPlayerService.setAudioCurrentTime(sentence.startSecond, dhikr.audio)">{{sentence.transcription}}</p>
        </ng-container>
      </div>

      <div class="card" *ngIf="dhikrService.showBosnianDhikr">
        <ng-container *ngFor="let sentence of dhikr.sentences">
          <p
            [class.card--active]="mediaPlayerService.currentTime >= sentence.startSecond && mediaPlayerService.currentTime <= sentence.endSecond"
            (click)="mediaPlayerService.setAudioCurrentTime(sentence.startSecond, dhikr.audio)">{{sentence.bosnian}}</p>
        </ng-container>
      </div>

      <div class="recitate-counter-wrapper">
        <div class="recitate-counter" (click)="dhikr.recitate = dhikr.recitate-1">
          {{dhikr.recitate >= 1? dhikr.recitate: ''}}
          <ion-icon *ngIf="dhikr.recitate<=0" name="checkmark-done-outline"></ion-icon>
        </div>
      </div>

    </ion-slide>
  </ion-slides>
</section>

<section class="scrolling-content" [class.show]="!dhikrService.showSlider">
  <div class="item" *ngFor="let dhikr of dhikrs; let i = index">
    <header class="section-header m-t-b-35">
      <h2>{{i+1}}.</h2>
    </header>
    <div class="icons">
      <ion-icon name="play-outline" (click)="mediaPlayerService.playAudio(dhikr.audio); activeAudio = dhikr.audio" *ngIf="!mediaPlayerService.isPlaying && !mediaPlayerService.isPaused"></ion-icon>
      <ion-icon name="play-outline" (click)="mediaPlayerService.continueAudio()" *ngIf="mediaPlayerService.isPaused && activeAudio === dhikr.audio"></ion-icon>
      <ion-icon name="pause-outline" (click)="mediaPlayerService.pauseAudio()" *ngIf="mediaPlayerService.isPlaying && !mediaPlayerService.isPaused && activeAudio === dhikr.audio"></ion-icon>
    </div>

<div class="main-card">

    <div class="card card__arabic" *ngIf="dhikrService.showArabicDhikr">
      <ng-container *ngFor="let sentence of dhikr.sentences">
        <p dir="rtl" [class.card--active]="mediaPlayerService.currentTime >= sentence.startSecond && mediaPlayerService.currentTime <= sentence.endSecond && activeAudio === dhikr.audio"
          (click)="mediaPlayerService.setAudioCurrentTime(sentence.startSecond, dhikr.audio); activeAudio = dhikr.audio">{{sentence.arabic}}</p>
      </ng-container>
    </div>

    <div class="card" *ngIf="dhikrService.showDhikrTranslation">
      <ng-container *ngFor="let sentence of dhikr.sentences">
        <p [class.card--active]="mediaPlayerService.currentTime >= sentence.startSecond && mediaPlayerService.currentTime <= sentence.endSecond && activeAudio === dhikr.audio"
          (click)="mediaPlayerService.setAudioCurrentTime(sentence.startSecond, dhikr.audio); activeAudio = dhikr.audio">{{sentence.transcription}}</p>
      </ng-container>
    </div>

    <div class="card" *ngIf="dhikrService.showBosnianDhikr">
      <ng-container *ngFor="let sentence of dhikr.sentences">
        <p
          [class.card--active]="mediaPlayerService.currentTime >= sentence.startSecond && mediaPlayerService.currentTime <= sentence.endSecond && activeAudio === dhikr.audio"
          (click)="mediaPlayerService.setAudioCurrentTime(sentence.startSecond, dhikr.audio); activeAudio = dhikr.audio">{{sentence.bosnian}}</p>
      </ng-container>
    </div>

    <div style="
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
">
      <div class="recitate-counter-wrapper">
        <div class="recitate-counter" [class.done]="dhikr.recitate<=0" (click)="dhikr.recitate = dhikr.recitate-1">
          {{dhikr.recitate >= 1? dhikr.recitate: ''}}
          <ion-icon *ngIf="dhikr.recitate<=0" name="checkmark-done-outline"></ion-icon>
        </div>
      </div>
      <div class="imam">
        <p>{{dhikr.imam}}</p>
      </div>
    </div>

  </div>

  </div>
</section>

</ion-content>
