<ion-list class="toggles">
  <ion-item color="primary">
    <ion-label>AR</ion-label>
    <ion-toggle [(ngModel)]="showArabicDhikr"></ion-toggle>
    <ion-label>TR</ion-label>
    <ion-toggle [(ngModel)]="showDhikrTranslation"></ion-toggle>
    <ion-label>BOS</ion-label>
    <ion-toggle [(ngModel)]="showBosnianDhikr"></ion-toggle>
  </ion-item>
</ion-list>


<ion-content>

  <ion-slides pager="true" pager="true" #slides (ionSlideDidChange)="slideChanged()"
    (ionSlideNextEnd)="currentTime = -0.9" (ionSlidePrevEnd)="currentTime = -0.9">
    <ion-slide *ngFor="let dhikr of dhikrs">
      <audio controls #audio (timeupdate)="updateCurrentTime(audio)">
        <source src="{{dhikr.audio}}">
      </audio>

      <div class="icons">
        <ion-icon name="play-outline" (click)="setAudio(audio, currentTime)" *ngIf="audio.paused"></ion-icon>
        <ion-icon name="pause-outline" (click)="pauseAudio(audio)" *ngIf="!audio.paused"></ion-icon>
      </div>

      <div class="card card__arabic" *ngIf="showArabicDhikr">
        <ng-container *ngFor="let sentence of dhikr.sentences">
          <p dir="rtl" [class.card--active]="currentTime >= sentence.startSecond && currentTime <= sentence.endSecond"
            (click)="setAudio(audio, sentence.startSecond)">{{sentence.arabic}}</p>
        </ng-container>
      </div>

      <div class="card" *ngIf="showDhikrTranslation">
        <ng-container *ngFor="let sentence of dhikr.sentences">
          <p [class.card--active]="currentTime >= sentence.startSecond && currentTime <= sentence.endSecond"
            (click)="setAudio(audio, sentence.startSecond)">{{sentence.transcription}}</p>
        </ng-container>
      </div>

      <div class="card">
        <ng-container *ngFor="let sentence of dhikr.sentences">
          <p *ngIf="showBosnianDhikr"
            [class.card--active]="currentTime >= sentence.startSecond && currentTime <= sentence.endSecond"
            (click)="setAudio(audio, sentence.startSecond)">{{sentence.bosnian}}</p>
        </ng-container>
      </div>

    </ion-slide>
  </ion-slides>

  <ion-toolbar class="swiper" color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" (click)="slidePrev()"></ion-icon>
    </ion-buttons>
    <ion-text>
      {{sliderActiveIndex + 1}} / {{sliderLength}}
    </ion-text>
    <ion-buttons slot="end">
      <ion-icon name="arrow-forward-outline" (click)="slideNext()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

</ion-content>
