<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sure</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="search-outline" *ngIf="!showSearchHeader" (click)="showSearchHeader=true"></ion-icon>
      <ion-icon name="close-outline" *ngIf="showSearchHeader" (click)="showSearchHeader=false"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="suraList">

  <ion-list>
    <ion-list *ngIf="showSearchHeader">
      <ion-item>
        <ion-label position="floating">Pretrazite</ion-label>
        <ion-input #search (ionChange)="searchByTerm(search.value)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Mjesto objave</ion-label>
        <ion-select #type interface="popover" (ionChange)="searchByType(type.value)">
          <ion-select-option value="all">Sve</ion-select-option>
          <ion-select-option value="Medinan">Medina</ion-select-option>
          <ion-select-option value="Meccan">Mekka</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Sortiranje</ion-label>
        <ion-select #sort interface="popover" (ionChange)="sortSuraListByOrder(sort.value)">
          <ion-select-option value="normal">Normal</ion-select-option>
          <ion-select-option value="asc">Od prve objavljanje</ion-select-option>
          <ion-select-option value="desc">Od zadnje objavljene</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
    <p style="text-align: center;">Ukupno: {{isSearchOn?searchSuraList.length:suraList.length}} sura</p>

    <!-- <ion-card *ngFor="let sura of suraListLazyLoaded; let i = index"
      [routerLink]="['/quran/tabs/quran-template', sura.startpage]">
      <ion-card-header>
        <ion-card-title>{{sura.index}}. {{sura.name}} - {{sura.tname}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <strong>~{{(sura.endpage - sura.startpage) + 1}} stranica</strong>
        <p>Start page: {{sura.startpage}}</p>
        <p>End page: {{sura.endpage}}</p>
        <p>Ajeta: {{sura.ayas}}</p>
        <p>Order: {{sura.order}}</p>
        <p>Start juz: {{sura.startjuz}}</p>
        <p>End juz: {{sura.endjuz}}</p>
        <p>Ima rijeci: {{sura.word}}</p>
        <p>Ima slova: {{sura.theletter}}</p>
        <p>Objavljena u: {{sura.type}}</p>
        <p>Redni broj prvog ajeta sure: {{sura.start}}</p>
      </ion-card-content>
    </ion-card> -->

    <ion-card *ngFor="let sura of suraListLazyLoaded; let i = index" (click)="goTo('/tabs/quran-template', sura);">
      <ion-card-header>
  <ion-card-title>{{sura.index}}. Sura {{sura.tname}} <span class="arabic-icon icon-surah{{i+1}}"></span></ion-card-title>
        <p>{{sura.type==='Meccan'?'Mekkanska':'Medinska'}} - {{sura.ayas}} ajeta</p>
      </ion-card-header>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <div (click)="ionContentScrollToTop()">
      <ion-icon name="arrow-up-outline"></ion-icon>
      <span style="text-align: center;">Vrati me na pocetak</span>
      <ion-icon name="arrow-up-outline"></ion-icon>
    </div>
  </ion-infinite-scroll>
</ion-content>
