
<div class="step-wrapper">
  <div class="step">
    <h2 class="step__title">1. korak</h2>
    <div class="step__body">
      <p>U postavkama upišite svoj dnevni vird u stranicama</p>
      <ion-button color="primary" (click)="goToSettings()">Postavke</ion-button>
      <!-- <img  src="assets/img/step1.png" alt=""> -->
    </div>
  </div>

  <div class="step">
    <h2 class="step__title">2. korak</h2>
    <div class="step__body">
      <p>Označite stranicu kao pročitanu/proučenu tako što ćete klikunti na njen redni broj.</p>
      <p>(prikazano na slici ispod)</p>
      <ion-button color="primary" (click)="goToQuran()">Otvori Kur'an</ion-button>
      <img  src="assets/img/step2.png" alt="">
    </div>
  </div>


  <div class="step">
    <h2 class="step__title">3. korak</h2>
    <div class="step__body">
      <p style="margin: 0;">Vratite se na tracker i vidjet ćete informacije o stranicama koje ste označili kao pročitane/proučene</p>
    </div>
  </div>
</div>
