.word {
  opacity: 0;

  &.show {
    opacity: 1;
  }

  &.answer {
    &--show {
      opacity: 1;
      background-color: #d3d3d366;
    }
  }
}


.page {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 5px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

ion-button {
  font-size: 11px;
}

.ayeLine i:hover:not(.word-wrapper, .endAyah) {
  background-color: white;
  color: black;
}
