.color-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-wrap: wrap;

  .color {
    width: 45px;
    height: 45px;
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      color: white;
      font-size: 30px;

    }
  }
}

.align-center {
  text-align: center;
}

.p6 {
  font-family: p6;
}

@font-face {
  font-display: block;
  font-family: p6;
  src: url(fonts/p6.ttf) format("truetype");
}

ion-range {
  padding-top: 0;
  padding-bottom: 0;
}

.page-orientation {
  border: 1px solid #adadad;
  border-radius: 5px;
  margin-top: 10px;
}

h6.title {
  text-align: center; margin-bottom: 0;
}
