<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Postavke</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-item>
      <ion-label>Odaberite svoj dnevni vird (u stranicama)</ion-label>
    </ion-item>
    <ion-item>
      <ion-range #range
      [(ngModel)]="settingsService.dailyVird" [max]="604" color="secondary"
      (ngModelChange)="settingsService.dailyVirdChanged(range.value)">
    </ion-range>
    <span>{{settingsService.dailyVird}}</span>
    </ion-item>
  </section>

<section>
  <p>Odaberite ucaca</p>
  <ion-item>
    <ion-label>Ucac</ion-label>
    <ion-select interface="popover" #select [(ngModel)]="quranService.qari" (ngModelChange)="quranService.changeQari(select.value)" class="ion-select form-control" name="qari" #qari>
      <ion-select-option *ngFor="let item of quranService.qariList" value="{{item.identifier}}">{{item.englishName}}
      </ion-select-option>
    </ion-select>
  </ion-item>
</section>

</ion-content>
