<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Postavke</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h6 class="title">Izaberite temu</h6>
  <div class="color-wrapper">
    <div *ngFor="let item of colors" class="color" style="background: {{item.color}}"
      (click)="onColorChanged(item.color)">
      <ion-icon *ngIf="item.color === themeColor" name="checkmark-circle-outline"></ion-icon>
    </div>
  </div>

  <h6 class="title">Kur'an</h6>
  <ion-item>
    <ion-label>Podesite veličinu harfova</ion-label>
    <ion-toggle [(ngModel)]="showSegments" color="primary"></ion-toggle>
  </ion-item>

  <div style="padding-top: 20px;" *ngIf="showSegments">

    <!--portrait segment-->
    <ng-container *ngIf="nativePluginsService.isPortrait()">
      <div class="align-center">
        <ion-label>Veličina harfova: <strong>portrait mode</strong></ion-label>

        <ion-range [(ngModel)]="fontSize" #fontSizeRef (ngModelChange)="onFontChange(fontSizeRef.value)" min="5" pin="true" max="50" color="primary">
          <ion-label slot="start">5</ion-label>
          <ion-label slot="end">50</ion-label>
        </ion-range>
      </div>

      <div class="align-center">
        <ion-label>Razmak između redova </ion-label>

        <ion-range [(ngModel)]="lineHeight" #lineHeightRef (ngModelChange)="onLineHeightChange(lineHeightRef.value)" min="5" pin="true" max="100" color="primary">
          <ion-label slot="start">5</ion-label>
          <ion-label slot="end">100</ion-label>
        </ion-range>
      </div>
    </ng-container>
    <!--portrait segment-->

    <!--landscape segment-->
    <ng-container *ngIf="nativePluginsService.isLandscape()">
      <div class="align-center">
        <ion-range [(ngModel)]="fontSizeLandscape" #fontSizeLandscapeRef (ngModelChange)="onLandscapeFontChange(fontSizeLandscapeRef.value)" min="15" pin="true" max="60" color="primary">
          <ion-label slot="start">15</ion-label>
          <ion-label slot="end">60</ion-label>
        </ion-range>
        <ion-label>Veličina harfova: <strong>landscape mode</strong></ion-label>
      </div>

      <div class="align-center">
        <ion-range [(ngModel)]="lineHeightLandscape" #lineHeightLandscapeRef (ngModelChange)="onLandscapeLineHeightChange(lineHeightLandscapeRef.value)" min="15" pin="true" max="100" color="primary">
          <ion-label slot="start">15</ion-label>
          <ion-label slot="end">100</ion-label>
        </ion-range>
        <ion-label>Razmak između redova </ion-label>
      </div>

    </ng-container>
    <!--landscape segment-->

    <div class="align-center">
      <ion-label>Razmak između riječi </ion-label>

      <ion-range [(ngModel)]="spaceBetweenWords" #spaceBetweenWordsRef (ngModelChange)="onSpaceBetweenWords(spaceBetweenWordsRef.value)" min="0" pin="true" max="5" color="primary">
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">5</ion-label>
      </ion-range>
    </div>
    <!--page start-->
    <div class="page-orientation" [ngClass]="{'page-orientation__portrait': nativePluginsService.isPortrait(), 'page-orientation__landscape': nativePluginsService.isLandscape()}">
      <div dir="rtl">
        <div class="ayeLine" *ngFor="let ayah of page6; let ayahNumber = index">
          <i *ngFor="let word of ayah;">
            <i class="p6"
               [innerHtml]="word"></i>
          </i>
        </div>
      </div>
    </div>

    <!--page end-->
  </div>

  <h6 class="title">Prijevod i tefsir</h6>
  <ion-item>
    <ion-label>Prikaži ajete na arapskom jeziku</ion-label>
    <ion-toggle [(ngModel)]="settingsService.showArabicTextInTranslation" #showArabicTextInTranslationRef (ngModelChange)="settingsService.showArabicTextInTranslationChanged(showArabicTextInTranslationRef.checked)" color="primary"></ion-toggle>
  </ion-item>

</ion-content>
<ng-container *ngIf="screenOrientation$|async"></ng-container>
