<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="morning-dhikr">
      <ion-icon name="sunny-outline"></ion-icon>
      <ion-label>Jutarnji zikr</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="evening-dhikr">
      <ion-icon name="moon-outline"></ion-icon>
      <ion-label>Vecernji zikr</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dhikr-before-sleeping">
      <ion-icon name="bed-outline"></ion-icon>
      <ion-label>Zikr prije spavanja</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
