<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom" color="primary" class="{{quranService.showHeaderAndTabs?'show':'hide'}}">
    <ion-tab-button [tab]="tabsValue.home" (click)="goTo(tabsValue.home)">
      <ion-icon [name]="selectedTab === tabsValue.home?'home':'home-outline'" (click)="goTo(tabsValue.home)"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tabsValue.holyQuran" (click)="goTo(tabsValue.holyQuran)">
      <ion-icon [name]="selectedTab === tabsValue.holyQuran?'book':'book-outline'"></ion-icon>
      <ion-label>Kur'an</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tabsValue.translation" (click)="goTo(tabsValue.translation)">
      <ion-icon [name]="selectedTab === tabsValue.translation?'language':'language-outline'"></ion-icon>
      <ion-label>Prijevod</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tabsValue.bookmarks" (click)="goTo(tabsValue.bookmarks)">
      <ion-icon [name]="selectedTab === tabsValue.bookmarks?'bookmarks':'bookmarks-outline'"></ion-icon>
      <ion-label>Bilješke</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

<app-loader *ngIf="quranService.showLoader"></app-loader>
