<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Prijevod i tefsir</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="bookmark-outline" *ngIf="!bookmarksService.checkIsInTafsirBookmark(quranService.currentPage)" (click)="addTafsirBookmark(quranService.currentPage);"></ion-icon>
      <ion-icon name="bookmark" *ngIf="bookmarksService.checkIsInTafsirBookmark(quranService.currentPage)" (click)="deleteTafsirBookmark(quranService.currentPage);"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="settings-outline" (click)="showSettings = !showSettings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <ion-list style="padding: 0;" *ngIf="showSettings">
    <ion-item>
      <ion-label>Arapski</ion-label>
      <ion-toggle [(ngModel)]="showArabic"></ion-toggle>

      <ion-label>Prijevod</ion-label>
      <ion-toggle [(ngModel)]="showTranslation"></ion-toggle>

      <ion-label>Tefsir</ion-label>
      <ion-toggle [(ngModel)]="showTafsir"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
    <div>
      <div dir="ltr" lang="eng" class="translation-wrapper">
        <div [id]="i" [class.blur]="selectedAyah != item.index && mediaPlayerService.isPlaying"
          [class.active]="selectedAyah == item.index" class="ayah"
          *ngFor="let item of translationForCurrentPage; let i = index">
          <ion-progress-bar
            *ngIf="selectedAyah == item.index && (mediaPlayerService.isPlaying || mediaPlayerService.isPaused)"
            color="primary" [value]="mediaPlayerService.currentTime/mediaPlayerService.getPlayerDuration()">
          </ion-progress-bar>

          <div class="player"
          *ngIf="selectedAyah == item.index || (!mediaPlayerService.isPlaying || mediaPlayerService.isPaused)">
          <ion-icon *ngIf="!mediaPlayerService.isPlaying && !mediaPlayerService.isPaused"
            (click)="playAyah(item.index);" name="play"></ion-icon>
          <!--scrollToElement(i)-->
          <ion-icon *ngIf="mediaPlayerService.isPlaying && !mediaPlayerService.isPaused"
            (click)="mediaPlayerService.stopAudio(); selectedAyah = null" name="stop"></ion-icon>
        </div>
          <section *ngIf="item.aya == 1" class="suraTitle">
            <img src="assets/img/surah_title.gif" alt="Quran sura title">
            <h3>{{quranService.suraList[(+item.sura)-1]?.name}} - {{quranService.suraList[(+item.sura)-1]?.tname}}</h3>
          </section>

          <div class="verse_key" *ngIf="(showArabic || showTranslation || showTafsir) && item.aya != 1">

            <p *ngIf="suraList">Sura {{quranService.suraList[(+item.sura)-1]?.tname}}: {{item.aya}}. ajet</p>
          </div>

          <p class="arabic_text" *ngIf="showArabic">{{item.arabicText}}</p>

          <div class="item" *ngIf="showTranslation">
            <span>Prijevod:</span>
            <p class="translation">{{item.translation}}</p>
          </div>

          <div class="item" *ngIf="showTafsir">
            <span>Tefsir:</span>
            <p class="tafsir">{{item.tafsir}}</p>
          </div>
          <p class="end"></p>
        </div>
      </div>
    </div>
    <div class="swiper" color="primary">
      <ng-container *ngIf="selectedAyah && mediaPlayerService.isPlaying">
        <div class="player">
          <ion-icon name="stop" style="margin-left: 15px;"
          (click)="mediaPlayerService.stopAudio(); selectedAyah = null"></ion-icon>

        </div>
          <ion-select style="margin-left: 20px; background: transparent; max-width: 60%;" interface="popover" #select [(ngModel)]="quranService.qari"
            (ngModelChange)="quranService.changeQari(select.value)" class="ion-select form-control" name="qari" #qari>
            <ion-select-option *ngFor="let item of quranService.qariList" value="{{item.identifier}}">{{item.englishName}}
            </ion-select-option>
          </ion-select>
      </ng-container>


      <ng-container *ngIf="!selectedAyah || !mediaPlayerService.isPlaying">
        <div class="icon-wrapper left" [class.disabled]="quranService.currentPage === 604" (click)="onSuraChanged(+quranService.currentPage + 1)">
          <ion-icon style="margin-right: 30px;" class="next-icon" name="arrow-back-outline"></ion-icon>
        </div>
          <div class="currentPage">
            <ion-text>
              {{quranService.currentPage}}
            </ion-text>
          <ion-checkbox color="primary" (ionChange)="markPage($event)" [checked]="trackerService.isTranslationPageCompleted(quranService.currentPage)"></ion-checkbox>
          </div>
          <div class="icon-wrapper right" [class.disabled]="quranService.currentPage === 1" (click)="onSuraChanged(+quranService.currentPage - 1)">
            <ion-icon style="margin-left: 30px;" class="prev-icon" name="arrow-forward-outline"></ion-icon>
          </div>
      </ng-container>


      </div>

</ion-content>
