.translation-wrapper {
  text-align: left;
  position: relative;
  background: gainsboro;

  .ayah {
    transition: all 0.5s;
    background: white;
    border-radius: 3px;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 25px;

    &:first-of-type {
      margin-top: 25px;
    }

    &.active {
      background: var(--ion-color-primary);

      p {
        color: white;
      }

      .player {
        ion-icon {
          color: white;
        }
      }

      .arabic_text {
        background: #3ca8df;
        padding: 15px;
      }

      .verse_key{
        p{
          background: white;
          color: var(--ion-color-primary);
        }
      }
    }

    &.blur {
      // filter: blur(50px);
    }

    p {
      padding: 2px 10px;

      &.end {
        background: gainsboro;
        padding: 1px !important;
        margin: 0;
      }

      &.arabic_text{
          font-size: 25px;
          background: hsl(240deg 7% 97%);
          padding: 15px;
          font-weight: 600;
          color: #504e4e;
      }

      &.translation{
        font-style: italic;
    }
    }

    .verse_key{
      height: 35px;
      font-size: 15px;
      padding-left: 10px;

      p{
        background: var(--ion-color-primary);
        display: inline-block;
        color: white;
        border-radius: 5px;
        padding: 4px !important;
      }
    }

    .player {
      position: absolute;
      right: 10px;
      margin-top: 8px;

      ion-icon {
        font-size: 30px;
        color: var(--ion-color-primary);;
      }
    }

    .item {
      span {
        margin-left: 10px;
        font-weight: lighter;
        font-style: italic;
      }

      .tafsir, .translation {
        margin-top: 3px;
      }

    }
}
}
ion-slides {
  direction: rtl;
}

.suraTitle {
  position: relative;
  overflow: hidden;
  //background-color: #f7f7f7;
  padding: 10px;
  margin-top: 25px;

  h3 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 16px;
    line-height: 55px;
    margin: 0;
    color: #a07a50;
  }
}
