main {
  padding: 0;

  &.fullscreen {
    padding-top: 40px;

    .ayah {
      &:first-of-type {
        border-top: 1px solid #f3f3f3;
      }
    }
  }
  p {
    // color: var(--ion-text-color);
    margin: 0 10px;
  }

  header {
    border-bottom: 1px solid #f4f5f6;
    // color: var(--ion-text-color);
    // background: white;
    background: var(--ion-color-primary);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    position: fixed;
    width: 100%;
    z-index: 99;

    .suraInfo {
    padding: 0 10px;

    h4 {
      margin-bottom: 5px;
      margin-top: 5px;
    }
    }

    .currentPage {
      font-size: 13px;
      font-weight: bold;
      font-style: italic;
      margin-bottom: 5px;
    }
  }
}



.sura-info {
  color: var(--ion-text-color);
  text-align: center;

  &__type {
    margin-bottom: 15px !important;
  }

  &__purpose {
    padding: 0 10px 20px;
    line-height: 25px;
  }
}

.backToTop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

ion-slides {
  height: 100%;
  direction: rtl;
  overflow: hidden;

  .slide {
    direction: ltr !important;
    display: block;
    overflow-y: scroll;
    padding-bottom: 20px;
    max-height: 100vh;

    &.playingAyah {
      padding-bottom: 60px;
    }

    min-height: 85vh;
    width: 100%;
    // transition: all .5s;

    &:nth-child(1) {
      opacity: 0;
    }
    &:nth-child(3) {
      opacity: 0;
    }
  }
}

ion-content {
  --overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

.currentPageFooter {
  background: var(--ion-color-primary);
    height: 40px;
    width: 40px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main {
  height: 100%;
  overflow: auto;
}


.swiper {
  position: fixed;
  border: 0;
  width: 100%;
  background: var(--ion-color-primary);
  opacity: 0.8;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 45px;
  color: white;
  font-weight: bold;

  .icon-wrapper {
    position: absolute;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;

    &.disabled {
      opacity: 0.2;
    }

    &.left {
    left: 0px;
    }

    &.right {
      right: 0px;
      }
  }

  .player {
    ion-icon {
      font-size: 25px;
    }
  }
}

ion-header {
  ion-icon {
    margin-right: 15px;
    font-size: 25px;
  }
}

.aboutSura {
  margin-bottom: 20px !important;
  font-size: 4.5vw;
  border-bottom: 1px solid #bbb8b847;
  padding-bottom: 20px;
}
