.translation {
  text-align: left;

  .ayah {

    p {
      padding: 2px 10px;

      &.end {
        background: #3db3ef;
        padding: 1px !important;
      }

      &.arabic_text{
          font-size: 20px;
      }
    }

    .verse_key{
      height: 35px;
      font-size: 15px;
      padding-left: 10px;

      p{
        background: var(--ion-color-primary);
        display: inline-block;
        color: white;
        border-radius: 5px;
        padding: 0px 4px !important;
      }
    }

}
}
ion-slides {
  direction: rtl;
}
