<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Prevod Kur'ana</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides pager="false" [options]="slideOpts"
    (ionSlideNextEnd)="onSuraChanged(+quranService.currentPage + 1)"
    (ionSlidePrevEnd)="onSuraChanged(+quranService.currentPage - 1)" (ionSlideReachStart)="slideTo(1)"
    (ionSlideReachEnd)="slideTo(1)">
    <ion-slide>
      <div dir="ltr" lang="eng" class="translation">
        <div class="ayah" *ngFor="let item of translationForCurrentPage; let i = index">
          <div class="verse_key">
            <p>{{item.verseKey}}</p>
          </div>
          <p class="arabic_text">{{item.text}}</p>
          <p>{{item.translation?.text}}</p>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
