<!--exit fullscreen-->
<ion-icon class="exit-fullscreen" name="exit-outline" *ngIf="quranService.showHeaderAndTabs === false"
  (click)="quranService.showHeaderAndTabs = true"></ion-icon>
<!--exit fullscreen-->

<ion-header class="{{quranService.showHeaderAndTabs?'show':'hide'}}">
  <ion-toolbar color="primary" *ngIf="{sura: sura$ | async, juz: juz$ | async} as pageDetails">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title [class.android]='platformService.isAndroid' slot="start">
      <span *ngFor="let item of pageDetails.sura; let i = index">
        {{item.name?.bosnianTranscription}}<span *ngIf="i+1 < pageDetails.sura.length">,</span>
      </span>
      <div>
        <span style="font-size: 13px;">Stranica {{quranService.currentPage}}, Džuz {{pageDetails.juz?.id}}</span>
      </div>
    </ion-title>
    <!--bookmarks icons-->
    <ion-icon slot="end" *ngIf="!checkIsPageInBookmarks()" name="bookmark-outline"
      (click)="addTafsirBookmark(pageDetails.sura);">
    </ion-icon>
    <ion-icon slot="end" *ngIf="checkIsPageInBookmarks()" name="bookmark"
      (click)="deleteTafsirBookmark();">
    </ion-icon>
    <!--bookmarks icons-->

    <!--fullscreen-->
    <ion-icon slot="end" name="expand-outline" (click)="quranService.showHeaderAndTabs = false"></ion-icon>
    <!--fullscreen-->
  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- <app-loader *ngIf="showLoader || mediaPlayerService.isLoading"></app-loader> -->
  <main *ngIf="dataStream$ | async as vm" [class.fullscreen]="!quranService.showHeaderAndTabs">

    <div>
      <ion-slides #slider (ionSlideNextStart)="loadNext()" (ionSlidePrevStart)="loadPrev()" [options]="slideOpts">
        <ion-slide class="slide" [class.playingAyah]="mediaPlayerService.player" *ngFor="let page of ayahList">
          <div>
            <ng-container *ngFor="let ayah of page; let i = index">
              <div class="ayah" [class.active]="routeAyahIndex === ayah.index" id="{{ayah.index}}">
                <!--progress-bar-->
                <ion-progress-bar
                  *ngIf="mediaPlayerService.playingCurrentAyah === ayah.index && (mediaPlayerService.isPlaying || mediaPlayerService.isPaused)"
                  color="primary" [value]="mediaPlayerService.currentTime/mediaPlayerService.getPlayerDuration()">
                </ion-progress-bar>
                <!--progress-bar-->

                <!--sura title-->
            <div *ngIf="ayah.ayaNumber === 1">
              <section class="suraTitle">
                <img src="assets/img/surah_title.gif" alt="Quran sura title">
                <h3>{{ayah.suraTitle.bosnianTranscription}} - {{ayah.suraTitle.arabic}}</h3>
              </section>

              <p class="aboutSura">{{surahsPurposes[ayah.sura-1]}}</p>

              <section class="bismillah">
                <div>﷽</div>
              </section>
            </div>
            <!--sura title end-->

                <div class="ayah__header" (click)="ayah.showHeader = false">
                  <h4 class="title">
                    {{ayah.ayaNumber}}.
                  </h4>
                  <div class="icons">
                    <!--favorite icons-->
                    <ion-icon *ngIf="!storage.isFavorite(ayah)" name="heart-outline"
                      (click)="storage.addToFavorites(ayah)">
                    </ion-icon>
                    <ion-icon *ngIf="storage.isFavorite(ayah)" class="red" name="heart"
                      (click)="storage.removeFromFavorites(ayah)"></ion-icon>
                    <!--favorite icons-->

                    <ion-icon class="share-social" name="share-social" (click)="shareAyah(ayah.suraTitle, ayah)"></ion-icon>
                  </div>

                  <!--player-->
                  <div class="player" [class.show]="ayah.showHeader">
                    <ion-icon
                      (click)="playAyah(ayah.index);" name="play"></ion-icon>

                  </div>
                  <!--player-->
                </div>

                <div class="ayah__info">
                  <p class="arabic">{{ayah.aya}}</p>
                  <div class="item">
                    <span class="item__title">Prijevod:</span>
                    <p class="item__content">{{ayah.korkutsTranslation}}</p>
                  </div>
                  <div>
                    <span class="item__title">Tefsir:</span>
                    <p class="item__content">{{ayah.tafsir}}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <!-- <footer class="currentPageFooter">
            {{quranService.currentPage}}
          </footer> -->
          <div>
            <ion-input #currentPage (ionChange)="checkPage(currentPage.value)" [placeholder]="quranService.currentPage"></ion-input>
            <ion-button *ngIf="showGoToPageButton" color="primary" (click)="goToPage(currentPage.value)">OK</ion-button>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <!--global player-->
    <app-player></app-player>
    <!--global player end-->
  </main>
</ion-content>
