/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: quran;
  src: url(me_quran-2.ttf) format("truetype");
  font-display: block;
}

h4.title {
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--ion-color-primary);
    bottom: 0;
    left: calc(50% - 20px);
  }
}

html {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/img/background.jpeg");

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
  }
}

ion-tab-bar,
ion-header {
  transition: all 0.3s;

  &.show {
    opacity: 1;
  }
  &.hide {
    height: 0;
    opacity: 0;
  }
}
* {
  scroll-margin-top: 75px;
  /*
  scroll-margin-top changes the vertical scroll destination, distancing the target element from the top of the viewport. Setting it to the same height as the header will ensure that it doesn't end up behind the header.
  */
}

.exit-fullscreen {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--ion-color-primary);
  z-index: 999;
  font-size: 25px;
}

ion-toolbar, ion-header {
  --min-height: 50px;
 }

 ion-tab-bar {
  height: 50px;
  ion-tab-button {
    ion-icon {
      font-size: 25px;
    }
  }
 }

 .ayah {
  padding: 0px 0px 40px;
  color: var(--ion-text-color);
  // border-top: 1px solid #29232347;
  border-top: 1px solid #bbb8b847;

  &:first-of-type {
    padding: 0px 0px 40px;
  }
  &.active {
    box-shadow: 0px 1px 4px 2px var(--ion-color-primary);
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  &__header {
    position: relative;
    // border-top: 1px solid gray;
    // border-top: 1px solid var(--ion-color-primary);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .icons {
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 5px;
      transition: all 1s;

      ion-icon {
        font-size: 25px;
        margin: 5px;
        max-width: 25px;

        &.red {
          color: red;
          margin-right: 10px;
        }

        &.share-social {
          &:active {
          color: var(--ion-color-primary);
          }
        }
      }
    }

    .player {
      font-size: 25px;
      position: absolute;
      left: 5px;
      top: 5px;
      transition: all 1s;
    }

    h4 {
      margin-top: 30px;
    }
  }

  &__info {
    text-align: center;

    .arabic {
      font-family: quran;
      margin-top: 0;
      font-size: 20px;
      font-size: 5vw;
      line-height: 45px !important;
    }

    .item {
      margin: 15px 0px;

      &__title {
        margin-left: 3px;
        font-style: italic;
        color: var(--ion-color-primary);
      }

      &__content {
        margin-top: 5px;
        line-height: 25px;
        padding: 0 5px;
        font-size: 4vw;
      }
    }
  }
}
