<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bilješke</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5 class="title">Kur'an</h5>
  <p class="description" *ngIf="bookmarksService.bookmarks.length === 0">Nemate biljeski</p>

  <ion-item-sliding *ngFor="let item of bookmarksService.bookmarks">

    <ion-item (click)="goTo('/tabs/holy-quran', item.pageNumber);">
      <ion-label>
        <h2>{{item.sura.name.arabic}} - {{item.sura.name.bosnianTranscription}}</h2>
        <p>{{item.date | date: 'dd.MM.YYYY hh:mm'}}</p>
      </ion-label>
      <ion-note slot="end">
        {{item.pageNumber}}
      </ion-note>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" expandable (click)="bookmarksService.deleteBookmark(item.pageNumber)">
        Izbrisi
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <h5 class="title">Prijevod i Tefsir</h5>
  <p class="description" *ngIf="bookmarksService.tafsirBookmarks.length === 0">Nemate biljeski</p>
  <ion-item-sliding *ngFor="let item of bookmarksService.tafsirBookmarks">

    <ion-item (click)="goTo('/tabs/translation', item.pageNumber);">
      <ion-label>
        <h2>{{item.sura.name.arabic}} - {{item.sura.name.bosnianTranscription}}</h2>
        <p>{{item.date | date: 'dd.MM.YYYY hh:mm'}}</p>
      </ion-label>
      <ion-note slot="end">
        {{item.pageNumber}}
      </ion-note>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" expandable (click)="bookmarksService.deleteTafsirBookmark(item)">
        Izbrisi
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
