<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Kur'an</ion-title>
    <ion-buttons slot="start" *ngIf="platformService.isIOS">
        <ion-icon style="margin-left: 5px;" name="heart-outline" (click)="donate()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-icon (click)="presentPopover($event)" slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!--ion-segment-->
  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button [value]="segments.sura" (click)="scrollIntoElement('sura'); getSuraList()">
      <ion-label>Sure</ion-label>
    </ion-segment-button>

    <ion-segment-button [value]="segments.juz" (click)="scrollIntoElement('juz'); getJuzList()">
      <ion-label>Džuzevi</ion-label>
    </ion-segment-button>

    <ion-segment-button [value]="segments.ayah" (click)="scrollIntoElement('ayah')">
      <ion-label>Ajeti</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!--ion-segment-->


  <!--segments.sura-content-->
  <section id="sura" class="segment" [class.show]="selectedSegment === segments.sura">
      <!--search-->
      <ion-icon class="search-icon" name="search-outline" *ngIf="!showSearchForSuraSegment"
        (click)="showSearchForSuraSegment = true"></ion-icon>
      <ion-icon class="search-icon" name="close-outline" *ngIf="showSearchForSuraSegment"
        (click)="showSearchForSuraSegment = false"></ion-icon>
      <div class="search search__sura" [class.show]="showSearchForSuraSegment">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Pretražite sure po nazivu</ion-label>
            <ion-input #search (ionChange)="searchByTerm(search.value)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Mjesto objave</ion-label>
            <ion-select #type interface="popover" [(ngModel)]="selectedSuraTypes"
              (ionChange)="searchByCity(type.value)">
              <ion-select-option [value]="suraTypes.both">Mekka i Medina</ion-select-option>
              <ion-select-option [value]="suraTypes.medinan">Medina</ion-select-option>
              <ion-select-option [value]="suraTypes.meccan">Mekka</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Sortiranje</ion-label>
            <ion-select #sort interface="popover" [(ngModel)]="selectedSortOptions"
              (ionChange)="sortSuraListByOrder(sort.value)">
              <ion-select-option [value]="sortOptions.byOrderInMushaf">Redoslijed u mushafu</ion-select-option>
              <ion-select-option [value]="sortOptions.byFirstPublished">Od prve objavljanje</ion-select-option>
              <ion-select-option [value]="sortOptions.byLastPublished">Od zadnje objavljene</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>
      </div>

      <!--search end-->

      <p class="ion-text-center">Broj sura: {{suraList.length}}</p>
      <ion-card class="sura" *ngFor="let sura of suraList; let i = index"
      (click)="presentModal(sura.startPage, sura.startAyaIndex+1)">
        <ion-card-header>
          <ion-card-title>
            <span class="sura__title">{{sura.index}}. {{sura.name.bosnianTranscription}} - {{sura.name.bosnian}}</span>
            <span class="arabic-icon icon-surah{{i+1}}"></span>
          </ion-card-title>
          <p class="sura__numberOfAyahs">{{sura.type==='Meccan'?'Mekkanska':'Medinska'}} - {{sura.numberOfAyas}} ajeta
          </p>
        </ion-card-header>
      </ion-card>
  </section>
  <!--segments.sura-content-->


  <!--segments.juz-content-->
  <section id="juz" class="segment" [class.show]="selectedSegment === segments.juz">
      <!--search-->
      <ion-icon class="search-icon" name="search-outline" *ngIf="!showSearchForJuzSegment"
        (click)="showSearchForJuzSegment = true"></ion-icon>
      <ion-icon class="search-icon" name="close-outline" *ngIf="showSearchForJuzSegment"
        (click)="showSearchForJuzSegment = false"></ion-icon>
      <!--search-->

      <div class="search search__juz" [class.show]="showSearchForJuzSegment">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Upišite broj džuza</ion-label>
            <ion-input #juz (ionChange)="searchJuzListById(juz.value)"></ion-input>
          </ion-item>
        </ion-list>
      </div>

      <p class="ion-text-center">Broj džuzeva: {{juzList.length}}</p>
      <ion-card class="juz" *ngFor="let juz of juzList; let i = index"
      (click)="presentModal(juz.startPage)">
        <ion-card-header>
          <ion-card-title class="juz__title">{{juz.id}}. Dzuz <span class="startPage">{{juz.startPage}}</span>
          </ion-card-title>
          <span class="total">{{(juz.endPage-juz.startPage)+1}} stranica</span>
        </ion-card-header>
        <ion-card-content>
          <ng-container *ngIf="juz.surahs">
            <div *ngFor="let sura of juz.surahs" class="juz__content">
              <p>
                <strong>{{sura.name.bosnianTranscription}}</strong> ({{sura.startAyah}}.ajet -
                {{sura.endAyah}}.ajet)
              </p>
              <span class="arabic-name icon-surah{{sura.id}}"></span>
            </div>
          </ng-container>
        </ion-card-content>
      </ion-card>
  </section>
  <!--segments.juz-content-->

  <!--segments.ayah-content-->
  <section id="ayah" class="segment" [class.show]="selectedSegment === segments.ayah">
    <ion-searchbar placeholder="Pretražite ajete" animated #searchAyahsRef (ionInput)="searchAyahs(searchAyahsRef.value)">
    </ion-searchbar>

    <div *ngIf="{ayahs: dataStream$ | async} as vm">
      <div *ngIf="vm.ayahs" class="total-ayahs">Pronadjeno {{vm.ayahs.length}} ajeta</div>

      <div class="ayah" *ngFor="let ayah of lazyLoadedAyahs" (click)="presentModal(ayah.page, ayah.index)" > <!--[routerLink]="['/tabs/translation/', ayah.page, ayah.index]"-->

        <div class="ayah__header">
          <div class="title">
            {{suraList[ayah.sura-1].name.bosnianTranscription}} ({{suraList[ayah.sura-1].name.bosnian}}) -
            {{ayah.ayaNumber}}. ajet
            <!-- <p>{{ayah.page}}. stranica - {{ayah.ayaNumber}}. ajet</p> -->
          </div>

        </div>
        <div class="ayah__info">
          <p class="arabic">{{ayah.aya}}</p>
          <div class="item">
            <p class="item__content">{{ayah.korkutsTranslation}}</p>
          </div>
        </div>
      </div>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadAyahs($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </section>
  <!--segments.ayah-content-->

</ion-content>
