<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dzuzevi</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let juz of juzList; let i = index" [routerLink]="['/quran/tabs/quran-template', juz.startPage]">
    <ion-card-header>
      <ion-card-title>{{juz.id}}. Dzuz <span class="startPage">{{juz.startPage}}</span></ion-card-title>
      <span class="total">{{(juz.endPage-juz.startPage)+1}} stranica</span>
    </ion-card-header>
    <ion-card-content>
      <ng-container *ngIf="juz.surahs">
        <div *ngFor="let sura of juz.surahs">
          <p><strong>{{suraList[sura.id-1].tname}}</strong> {{sura.startAyah}}.ajet - {{sura.endAyah}}.ajet</p>
        </div>
      </ng-container>
    </ion-card-content>
  </ion-card>
</ion-content>
