<ion-header>
  <ion-toolbar>
    <ion-title>Dzuzevi</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let juz of juzList; let i = index" [routerLink]="['/quran/tabs/quran-template', juz.value]">
    <ion-card-header>
      <ion-card-title>{{juz.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>

    </ion-card-content>
  </ion-card>
</ion-content>
