
ion-card-header{
  border-bottom: 1px solid gainsboro;
  margin-bottom: 20px;
  background: gainsboro;
  padding: 10px 15px;

  .total {
    padding-top: 3px;
    display: block;
  }

  ion-card-title {
    .startPage {
      font-size: 14px;
      position: absolute;
      top: 50%;
      right: 0;
    }
  }
}

ion-card {
  margin-bottom: 20px;
}
